@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
@keyframes slide-in {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
@keyframes slide-out {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes slide-in-2 {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}
@keyframes slide-out-2 {
  from {
    right: 0%;
  }
  to {
    right: -100%;
  }
}
@keyframes appear {
  from {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 0.75;
    visibility: visible;
  }
}
@keyframes disappear {
  from {
    opacity: 0.75;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes appearOpacity1 {
  from {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes disappearOpacity0 {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes carrosel1Img1Next {
  from {
    background-image: url(../images/image-product-1.jpg);
    right: 0;
  }
  to {
    right: 100%;
  }
}
@keyframes carrosel1Img2Next {
  from {
    background-image: url(../images/image-product-2.jpg);
    right: -100%;
  }
  to {
    right: 0%;
  }
}
@keyframes carrosel2Img1Next {
  from {
    background-image: url(../images/image-product-2.jpg);
    right: 0;
  }
  to {
    background-image: url(../images/image-product-2.jpg);
    right: 100%;
  }
}
@keyframes carrosel2Img2Next {
  from {
    background-image: url(../images/image-product-3.jpg);
    right: -100%;
  }
  to {
    background-image: url(../images/image-product-3.jpg);
    right: 0%;
  }
}
@keyframes carrosel3Img1Next {
  from {
    background-image: url(../images/image-product-3.jpg);
    right: 0;
  }
  to {
    background-image: url(../images/image-product-3.jpg);
    right: 100%;
  }
}
@keyframes carrosel3Img2Next {
  from {
    background-image: url(../images/image-product-4.jpg);
    right: -100%;
  }
  to {
    background-image: url(../images/image-product-4.jpg);
    right: 0%;
  }
}
@keyframes carrosel1Img1Previous {
  from {
    background-image: url(../images/image-product-2.jpg);
    right: 0;
  }
  to {
    background-image: url(../images/image-product-2.jpg);
    right: -100%;
  }
}
@keyframes carrosel1Img2Previous {
  from {
    background-image: url(../images/image-product-1.jpg);
    right: 100%;
  }
  to {
    background-image: url(../images/image-product-1.jpg);
    right: 0%;
  }
}
@keyframes carrosel2Img1Previous {
  from {
    background-image: url(../images/image-product-3.jpg);
    right: 0;
  }
  to {
    background-image: url(../images/image-product-3.jpg);
    right: -100%;
  }
}
@keyframes carrosel2Img2Previous {
  from {
    background-image: url(../images/image-product-2.jpg);
    right: 100%;
  }
  to {
    background-image: url(../images/image-product-2.jpg);
    right: 0%;
  }
}
@keyframes carrosel3Img1Previous {
  from {
    background-image: url(../images/image-product-4.jpg);
    right: 0;
  }
  to {
    background-image: url(../images/image-product-4.jpg);
    right: -100%;
  }
}
@keyframes carrosel3Img2Previous {
  from {
    background-image: url(../images/image-product-3.jpg);
    right: 100%;
  }
  to {
    background-image: url(../images/image-product-3.jpg);
    right: 0%;
  }
}
.corpo {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  height: 67vh;
  width: 100vw;
}

.cabecalho {
  height: 33vh;
  background: url(../images/pattern-bg.png) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cabecalho__titulo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: white;
}
.cabecalho__conteiner-input {
  display: flex;
  width: 33.3%;
}
@media only screen and (max-width: 960px) {
  .cabecalho__conteiner-input {
    width: 90%;
  }
}
.cabecalho__input {
  color: #969696;
  width: 90%;
  font-size: 1rem;
  padding: 0.75rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: none;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
.cabecalho__input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}
.cabecalho__botao {
  width: 10%;
  height: 100%;
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: black;
  background-image: url(../images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}
.cabecalho__botao:hover {
  cursor: pointer;
}
.cabecalho__itens {
  width: 80%;
  background-color: white;
  padding: 1.5rem 0;
  display: flex;
  border-radius: 1rem;
  position: relative;
  top: 50px;
  z-index: 3;
}
@media only screen and (max-width: 960px) {
  .cabecalho__itens {
    top: 20px;
    flex-direction: column;
  }
}
.cabecalho__item {
  width: 25%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-right: #969696 solid 1px;
}
.cabecalho__item:last-child {
  border: none;
}
@media only screen and (max-width: 960px) {
  .cabecalho__item {
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-right: 0rem;
    padding-left: 0rem;
    margin-bottom: 1rem;
  }
  .cabecalho__item:last-child {
    margin-bottom: 0rem;
  }
}
.cabecalho__item-titulo {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #969696;
  text-transform: uppercase;
  font-size: 0.9rem;
}
@media only screen and (max-width: 960px) {
  .cabecalho__item-titulo {
    font-size: 0.8rem;
  }
}
.cabecalho__item-texto {
  margin-top: 0.5rem;
  color: #2b2b2b;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
}
@media only screen and (max-width: 960px) {
  .cabecalho__item-texto {
    font-size: 1rem;
  }
}

.error {
  background-color: red !important;
  background-image: url(../images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/*# sourceMappingURL=style.css.map */
